.avatar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.colors-wrapper {
    position: relative;
    z-index: 0;
    width: 4rem;
    height: 4rem;
    filter: blur(1px);
    background-color: #151413;
}

.color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar {
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: block;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
}

.red { background-color: #ff3200; }
.blue { background-color: #6f00ff; }
.green { background-color: #d9ff00; }
.black { background-color: #151413; }
.white { background-color: #fff; }

@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-cyrillic-ext-wght-normal.B2xhLi22.woff2) format("woff2-variations");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-cyrillic-wght-normal.CMZtQduZ.woff2) format("woff2-variations");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-greek-ext-wght-normal.CGAr0uHJ.woff2) format("woff2-variations");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-greek-wght-normal.CaVNZxsx.woff2) format("woff2-variations");
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-vietnamese-wght-normal.CBcvBZtf.woff2) format("woff2-variations");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-latin-ext-wght-normal.CFHvXkgd.woff2) format("woff2-variations");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Inter Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(inter-latin-wght-normal.C2S99t-D.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Instrument Serif";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(instrument-serif-latin-ext-400-normal.CNbCjDc5.woff2) format("woff2"), url(instrument-serif-latin-ext-400-normal.ZduzdBhS.woff) format("woff");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Instrument Serif";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(instrument-serif-latin-400-normal.CwvVGij3.woff2) format("woff2"), url(instrument-serif-latin-400-normal.BKYSN5O0.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

section {
    position: relative;
    z-index: 0;
    display: block;
    margin-block: 4rem;
}

h2 {
    position: absolute;
    user-select: none;
    display: block;
    color: #fff;
    top: .5rem;
    left: -2.5rem;
    margin: 0;
    letter-spacing: .05rem;
    font-size: .75rem;
    font-weight: 100;
    text-transform: uppercase;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%) translateZ(0);
}

@media screen and (max-width: 1024px) {
    h2 {
        top: 0;
        left: 0;
        position: relative;
        transform: none;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 0;
        font-size: 1rem;
        margin-block: 1rem;
    }
}

.images {
    gap: 1rem;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    margin-block: 1.5rem;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: .25rem;
    transition: all .2s ease;
    background-color: #1e1e1e;
}

.image:hover {
    transition-delay: 0ms !important;
    filter: brightness(1.2);
    transform: translateY(-.25rem);
}

@media screen and (max-width: 640px) {
    .images {
        gap: .75rem;
        height: 30vw;
    }
    .image {
        border-radius: .1rem;
    }
}

h1 {
    gap: .25rem;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block: 1rem;
    font-weight: 500;
    font-display: swap;
    font-family: "Instrument Serif", serif;
    text-shadow: 0 1px 1px hsla(30, 5%, 7%, .5), 0 0 8px rgba(255, 255, 255, .2);
}

.word {
    opacity: 0;
    min-height: 2rem;
}

@media screen and (max-width: 640px) {
    h1 {
        max-width: auto;
    }
}

p {
    display: block;
    color: gray;
    line-height: 1.5rem;
    margin-block: 1rem;
    font-size: 1rem;
    font-display: swap;
}

.container {
    position: relative;
    user-select: none;
}

.icons,
.glow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.icons {
    z-index: 999;
}

.glow {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: blur(24px) saturate(4);
    transition: all 1s ease-out;
    transform: translateZ(0);
}

.active .glow {
    opacity: 1;
}

.icon {
    height: 1rem;
    width: 1rem;
    opacity: .5;
    object-fit: contain;
    filter: contrast(0);
    transition: all .3s ease;
}

.active .icon {
    filter: none;
    opacity: 1;
}

.gradient-wrapper {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.gradient {
    filter: blur(96px);
    position: absolute;
    top: -160px;
    left: 20%;
    width: 512px;
    height: 512px;
    transform: translate(-50%, -50%);
}

.image1,
.image2 {
    position: absolute;
    width: 100%;
    height: 100%;
    user-drag: none;
    background-size: contain;
}

.image1 {
    z-index: 0;
    animation: Rotation 32s infinite linear;
}

.image2 {
    z-index: 1;
    mix-blend-mode: overlay;
    animation: Rotation 12s infinite linear;
}

@keyframes Rotation {
    0% { transform: rotate(45deg) scale(.75); }
    50% { transform: rotate(405deg) scale(1.25); }
    100% { transform: rotate(765deg) scale(.75); }
}

@media screen and (max-width: 1024px) {
    .gradient {
        left: 40%;
        top: -200px;
    }
}

main {
    padding: 2rem;
    margin-top: 6rem;
    margin-left: 8rem;
    max-width: 60ch;
}

@media screen and (min-width: 1536px) {
    main {
        margin-left: 16rem;
    }
}

@media screen and (max-width: 1024px) {
    main {
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 640px) {
    main {
        margin-top: 1rem;
    }
}

.avatar-wrapper {
    box-shadow: 0 0 0 1px #837a79;
}

