<div class="gradient-wrapper" aria-hidden="true" data-astro-cid-hihtoabc>
  <div class="gradient" data-astro-cid-hihtoabc>
    <img src="/images/gradient.DlfjW8pq_Z2aVLuw.webp" alt="Gradient" loading="eager" data-astro-cid-hihtoabc="true" decoding="async" fetchpriority="auto" width="32" height="32" class="image1">
    <img src="/images/gradient.DlfjW8pq_Z2aVLuw.webp" alt="Gradient" loading="eager" data-astro-cid-hihtoabc="true" decoding="async" fetchpriority="auto" width="32" height="32" class="image2">
  </div>
</div>

<script hoist>
  import { a } from "./index.-fRWgakJ.js";
  import "./resolve-elements.DdSog9Gr.js";
  a(".gradient-wrapper", { opacity: [0, .5] }, { duration: 2.4, ease: "easeOut" });
</script>