<h1 data-astro-cid-u4qoyrkz>
  <span class="word" data-astro-cid-u4qoyrkz>Hey</span><span class="word" data-astro-cid-u4qoyrkz>👋</span>
</h1>
<h1 data-astro-cid-u4qoyrkz>
  <span class="word" data-astro-cid-u4qoyrkz>I&#39;m</span><span class="word" data-astro-cid-u4qoyrkz>Toffee,</span><span class="word" data-astro-cid-u4qoyrkz>self-taught</span><span class="word" data-astro-cid-u4qoyrkz>developer</span><span class="word" data-astro-cid-u4qoyrkz>passionate</span><span class="word" data-astro-cid-u4qoyrkz>about</span><span class="word" data-astro-cid-u4qoyrkz>building</span><span class="word" data-astro-cid-u4qoyrkz>web</span><span class="word" data-astro-cid-u4qoyrkz>applications.</span>
</h1>

<script hoist>
  import { a } from "./index.-fRWgakJ.js";
  import { s as r } from "./stagger.CENlEBGA.js";
  import "./resolve-elements.DdSog9Gr.js";
  a(".word", { opacity: [0,1], y: [8,0], filter: ["blur(4px)","blur(0)"] }, { delay: r(.025, {startDelay:.6}), ease: "easeOut", type: "spring", stiffness: 200, damping: 25 });
</script>